<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{blocks/template.html}">
<th:block layout:fragment="alert-content">
    <h2 class="text-primary">ДОБРО ПОЖАЛОВАТЬ В СЕРВИС ФОРМИРОВАНИЯ</h2>
    <h2 class="text-primary">КАЛЕНДАРНЫХ СРОКОВ ДОГОВОРА!</h2>
    <br>
    <h3>Выберете группу объекта проектирования</h3>
    <br>
    <a class="btn btn-outline-secondary" href="/oil_pad_object"><h4>Обустройство кустовой площадки</h4></a><br><br>
    <a class="btn btn-outline-secondary" href="/linear_object"><h4>Линейный объект</h4></a><br><br>
    <a class="btn btn-outline-secondary" href="/tech_object"><h4>Технологическая площадка</h4></a><br><br>
    <a class="btn btn-outline-secondary" href="/areaObject"><h4>Инфраструктурный объект</h4></a><br><br>
    <a class="btn btn-outline-secondary" href="/energy_facility"><h4>Объект энергетики</h4></a><br><br>

    <form class="mt-4" action="/codeContract" method="GET">
        <div id="contractClass" class="container">
            <h4>Найти календарь ПИР по шифру договора</h4>
            <div class="form-group">
                <label for="codeContract">Шифр (от 4 до 10 символов):</label>
                <input type="text" class="form-control" name="codeContract" id="codeContract" required pattern="[\/_\-\dа-юА-Юa-zA-Z]{4,10}"/>
                <br>
            </div>
        </div>
        <div class="card text-center">
            <button type="submit" class="btn btn-outline-dark fw-bolder">Получить календарь</button>
        </div>
    </form>
    <form class="mt-4" action="/allProjects" method="GET">
<!--        <div id="allProjectsClass" class="container">-->
<!--            <h4>Вывести все календари ПИР из базы данных</h4>-->
<!--            <div class="form-group">-->
<!--                <label for="codeContract">Шифр (от 4 до 10 символов):</label>-->
<!--                <input type="text" class="form-control" name="codeContract" id="codeContract" required pattern="[0-9]{4,10}"/>-->
<!--                <br><br>-->
<!--            </div>-->
<!--        </div>-->
        <div class="card text-center">
            <button type="submit" class="btn btn-outline-dark fw-bolder">Вывести все календари ПИР из базы данных</button>
        </div>
        <br><br>
    </form>
</th:block>
</html>