<th:block lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="toggle-input">
    <script th:inline="javascript">
        var roadChecked = document.getElementById('activeRoad').checked;
        var lineChecked = document.getElementById('activeLine').checked;
        var vvpChecked = document.getElementById('activeVvp').checked;
        var cableRackChecked = document.getElementById('activeCableRack').checked;
        var ktplpChecked = document.getElementById('activeKtplp').checked;
        var siknChecked = document.getElementById('activeSikn').checked;

        if (roadChecked) {
            document.getElementById('roadDiv').style.display = 'inline';
        }

        if (lineChecked) {
            document.getElementById('lineDiv').style.display = 'inline';
        }

        if (vvpChecked) {
            document.getElementById('vvpDiv').style.display = 'inline';
        }

        if (cableRackChecked) {
            document.getElementById('cableRackDiv').style.display = 'inline';
        }

        if (ktplpChecked) {
            document.getElementById('ktplpDiv').style.display = 'inline';
        }

        if (siknChecked) {
            document.getElementById('siknDiv').style.display = 'inline';
        }

        function toggleInputRoad(checkbox) {
            var inputFieldRoad = document.getElementById('roadDiv');
            if (checkbox.checked) {
                inputFieldRoad.style.display = 'inline';
            } else {
                inputFieldRoad.style.display = 'none';
            }
        }
        function toggleInputLine(checkbox) {
            var inputFieldLine = document.getElementById('lineDiv');
            if (checkbox.checked) {
                inputFieldLine.style.display = 'inline';
            } else {
                inputFieldLine.style.display = 'none';
            }
        }
        function toggleInputVvp(checkbox) {
            var inputFieldVvp = document.getElementById('vvpDiv');
            if (checkbox.checked) {
                inputFieldVvp.style.display = 'inline';
            } else {
                inputFieldVvp.style.display = 'none';
            }
        }
        function toggleInputCableRack(checkbox) {
            var inputFieldCableRack = document.getElementById('cableRackDiv');
            if (checkbox.checked) {
                inputFieldCableRack.style.display = 'inline';
            } else {
                inputFieldCableRack.style.display = 'none';
            }
        }
        function toggleInputSikn(checkbox) {
            var inputFieldSikn = document.getElementById('siknDiv');
            if (checkbox.checked) {
                inputFieldSikn.style.display = 'inline';
            } else {
                inputFieldSikn.style.display = 'none';
            }
        }
        function toggleInputKtplp(checkbox) {
            var inputFieldKtplp = document.getElementById('ktplpDiv');
            if (checkbox.checked) {
                inputFieldKtplp.style.display = 'inline';
            } else {
                inputFieldKtplp.style.display = 'none';
            }
        }
    </script>
</th:block>